#desc br:last-child {
  	display: none;
	}

 /*-----ModernBB-----*/ .footerbar-system li a[href^="http://www.ahlablog."] {display:none} .footerbar-system li a[href^="http://www.xn--"] {display:none} .footerbar-system li a[href^="https://www.ahlamontada.com/"] {display:none} .footerbar-system li a[href^="https://help.ahlamontada.com/"] {display:none} .footerbar-system a, .footerbar-user a {padding: 0px 20px 0px 0px;} .footerbar-system .rightside { color: #2C353B; } /*-----ModernBB-----*/
 .forumtitle li a[href^="https://ibda3point.ahlamontada.com/f8-montada"] {display:none}
